body {
    margin:5px;
    padding:5px;
    line-height:1.15;
 }
  
 h1, h2, h3 {
    font-weight: bold;
    margin-top:15px;
  
 }
 ul li {
    margin-left: 25px;
    list-style-type: upper-roman;
 }
 
 nav li {
    margin-left: 25px;
    list-style-type: upper-roman;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    display: inline-block;
    height: 20px;
    border: 1px solid #000000;
    background-color: #00ffff;
    border-radius: 20px;
    width: 200px;
 }

 main img {
    width: 24%;
    padding: 10px;
    border: 3px dashed #008000;
 }

 p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 9px;
    font-weight: bold;
    background-color: #000000;
 }
 
 
